<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Știri</title>
    <style>
        /* Include CSS-ul aici */
    </style>
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="arr left" (click)="goToBack()"><div></div></div>
        <h1 class="title">Stiri {{category.categoryName}}</h1>
    </div>
    <main>
        <section class="news">
            <div *ngFor="let news of newsList; let i = index" class="news-card">
                <a [routerLink]="['/news', news.newsId]">
                    <article class="news-item">
                        <h2>{{news.title}}</h2>
                        <hr>
                        <p>{{news.publishedAt | date:'shortDate'}}</p>
                        <img [src]="news.image" alt="{{news.title}}">
                    </article>
                </a>
            </div>
        </section>
    </main>
</body>
</html>
