body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(56, 65, 65);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.arr {
    height: 100px;
    width: 100px;
    transition: 0.4s ease;
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 20px;
    background-color: rgba(169, 167, 167, 0.3);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.arr:hover {
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.119);
}

.arr div {
    position: absolute;
    height: 40px;
    width: 40px;
    border-top: 8px solid #202020;
    border-left: 8px solid #202020;
    transform: rotate(45deg);
    left: 40px;
    top: 35px;
}

.left {
    transform: rotate(-90deg);
}

.title {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-left: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
}

.header button {
    margin-right: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(85, 85, 85, 0.8);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.header button:hover {
    background-color: rgba(119, 119, 119, 0.8);
}

.news {
    display: flex;
    flex-direction: column;
}

.news-card {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.news-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.news-item h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.news-item h3 {

    font-size: 23px;
    font-weight: bold;
}

.news-item p {
    margin: 10px 0 0;
    color: #666;
}
