<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Știri</title>
    <style>
        /* Include the CSS here */
    </style>
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="arr left" (click)="gotoHome()"><div></div></div>
        <h1 class="title">New News</h1>
    </div>
        <section class="news">
            <div *ngFor="let news of newsList; let i = index" class="news-card">
                <a [routerLink]="['/news', news.newsId]">
                    <article class="news-item">
                        <img [src]="news.category.logo">
                        <hr>
                        <h2>{{news.publishedAt}}</h2>
                        <hr>
                        <h2>{{news.title}}</h2>
                        <hr>
                        <img [src]="news.image">
                    </article>
                </a>
            </div>
        </section>
</body>
</html>
