<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Home</title>
    <link href="https://fonts.googleapis.con/css2?family=Roboto:wgt@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="navbar">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/sports-logo-png-transparent.png" class="logo">
        </div>

        <div class="row">
            <div class="col">
                <h1>Stiri</h1>
                <h2>Sport</h2>
            </div>
            <div class="col">
                <a class="card login" href="/login"></a>
                <a class="card signup" href="/sign-up"></a>
                <a class="card view" href="/view"></a>
                <a class="card admin" href="/admin-panel"></a>
            </div>
        </div>


    </div>


</body>
</html>
